MONGO_URL=mongodb+srv://assured:Shanx45@assured-hr.bk837fn.mongodb.net/?retryWrites=true&w=majority&appName=assured-hr
DB_NAME=assured_security_db

JWT_SECRET_KEY=change-me-in-production

CORS_ORIGINS=http://localhost:3000

CLOUDINARY_CLOUD_NAME=dvawycdsi
CLOUDINARY_API_KEY=317857539473788
CLOUDINARY_API_SECRET=VkiHSaVgjHSzidt_QeuwFyKRvH8